{{# classes }}
/**
{{# description }}
 * {{{ . }}}
{{/ description }}
 */
export interface {{{ className }}} {
{{# fields }}
    /**
{{# description }}
     * {{{ . }}}
{{/ description }}
     */
    {{{ tsName }}}: {{{ tsType }}}
{{/ fields }}
}
{{/ classes }}